.DS_Store
Thumbs.db

*.class
*.o
*.so
*.exe
*.dll

venv/
env/

__pycache__/
*.py[cod]


*.log


*.tmp
*.swp


node_modules/


devel/
dist/
build/
notebook/

.env


.DS_Store

Thumbs.db

outputs/

typescript
log*